p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-author {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-description {
  font-size: 14px;
  color: rgb(96, 96, 96);
  line-height: 22px;
  width: 280px;
  margin-bottom: 100px;
}

.apple-text {
  background-color: rgb(227, 65, 64);
  padding: 18px;
  color: white;
  font-size: 14px;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 50px;
}

.shop-link:hover {
  text-decoration: underline;
  cursor: pointer;
}